body {
    background-color: azure;
}

#calculator {
    width: 350px;
    height: 350px;
    background-color: rgb(156, 156, 156);
    border: 5px solid rgb(127, 127, 127);
    border-radius: 10px;
    margin: auto;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    max-width: 90%;
}

.display {
    background-color: rgb(224, 224, 224);
    color: rgb(60, 60, 60);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    text-align: right;
    height: 15%;
    flex: auto;
}

.btnContainer {
    display: flex;
    flex: auto;
    max-width: 99%;
    height: 82%;
    padding: .5%;
}

button {
    flex: auto;
    min-width: 20px;
    font-size: 20px;
    color: rgb(80, 80, 80);
    font-family: 'Lato', sans-serif;
    border: 0;
    margin: 1%;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
}

.numbers {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 75%;
    height: auto;
    margin-right: 1%;
}

.zero {
    width: 200%;
}

.backspace {
    background-color: rgb(249, 202, 114);
}

.operators {
    display: grid;
    grid-template-columns: repeat(1, auto);
    width: 25%;
}

.add,
.subtract,
.multiply,
.divide {
    background-color: rgb(138, 179, 255);
}

.equals {
    background-color: rgb(229, 229, 92);
}

.clear {
    background-color: rgb(244, 149, 149);
}

.plusminus {
    background-color: rgb(66, 178, 66);
}